
:root {
    --color-primary: #2D6A4F;
    --color-secondary: #95D5B2;
    --color-accent: #40916C;
    --color-bg: #F8F9FA;
    --color-dark: #212529;
    --color-light: #FFFFFF;
    --color-danger: #D00000;

    --font-main: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-dark);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: var(--color-accent);
}

.navbar {
    background-color: var(--color-primary);
}

.navbar-brand {
    color: var(--color-light) !important;
    font-weight: 600;
}

.navbar-nav .nav-link {
    color: var(--color-light) !important;
}

.hero {
    color: var(--color-light);
    padding: 12rem 2rem;  /* زيادة padding لتكبير المسافة الداخلية */
    text-align: center;
    border-radius: 12px;
    position: relative;
    height: 600px;  /* تعيين ارتفاع ثابت للصورة */
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;  /* التأكد من أن الصورة تملأ الـ container بدون تشويه */
    height: 100%;  /* جعل الصورة تملأ الحاوية */
}


.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.features {
    text-align: center;
    padding: 4rem 0;
}

.features h2 {
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.feature-card {
    border: none;
    background: var(--color-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2rem;
    transition: transform 0.3s;
    min-height: 250px; /* لضمان تساوي ارتفاع البطاقات */

}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card h5 {
    color: var(--color-primary);
    margin-top: 1rem;
}

.icon-container {
    transition: transform 0.3s ease;
}

.icon-container:hover {
    transform: scale(1.2); /* Add a subtle zoom effect on hover */
}


.cta {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 12px;
    margin: 4rem 0;
}

.cta h2 {
    margin-bottom: 1rem;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.card-img-top {
    width: 100%; /* اجعل العرض 100% من حجم الكارد */
    height: 250px; /* تحديد ارتفاع ثابت للصورة */
    object-fit: cover; /* يضمن أن الصورة تملا الكارد بالكامل مع الحفاظ على نسبتها */
}


footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    padding: 1rem 0;
}
